<div class="breadcrumbs">
  <i class="fa fa-chevron-right"></i>
  <a routerLink="/admin/{{idUserBack}}">Page d’accueil</a>
</div>
<div class="row">
  <div class="col-md-3 col-sm-12">
    <app-menu-item #menuItem></app-menu-item>
  </div>
  <div class="col-md-9 col-sm-12 parametres">
    <div class="row">
      <div class="col-sm-12 title">
        ATELIER/PUB USAGE
      </div>
      <div class="col-sm-12 btn-group" data-toggle="buttons">
        <label class="btn">
          <input type="checkbox" name='email1' checked>
          <i class="fa fa-square-o fa-2x"></i>
          <i class="fa fa-check-square-o fa-2x"></i>
          <span> ATELIER</span>
        </label>
        <label class="btn">
          <input type="checkbox" name='email1'>
          <i class="fa fa-square-o fa-2x"></i>
          <i class="fa fa-check-square-o fa-2x"></i>
          <span> PUB USAGE</span>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 title">
        UPLOAD CATALOGUE USAGE
      </div>
      <div class="col-sm-12 btn-group" data-toggle="buttons">
        <h4>Upload file Event/History(.pdf)</h4>
        <div class="datetime">
          <input class="form-control" type="file" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 title">
        QUESTION LIST FOR EVENT
      </div>
      <div class="col-sm-12 btn-group btn-group-vertical" data-toggle="buttons">
        <label>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#question"><i class="fa fa-plus-circle"></i>
            AJOUTER
          </button>
        </label>
        <label class="btn active">
          <input type="checkbox" name='email1' checked>
          <i class="fa fa-square-o fa-2x"></i>
          <i class="fa fa-check-square-o fa-2x"></i>
          <span> câu hỏi 1</span>
        </label>
        <label class="btn">
          <input type="checkbox" name='email1'>
          <i class="fa fa-square-o fa-2x"></i>
          <i class="fa fa-check-square-o fa-2x"></i>
          <span> câu hỏi 2</span>
        </label>
        <label class="btn">
          <input type="checkbox" name='email1'>
          <i class="fa fa-square-o fa-2x"></i>
          <i class="fa fa-check-square-o fa-2x"></i>
          <span> câu hỏi 3</span>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 title">
        DATE INFORMATION
      </div>
      <div class="col-sm-12">
        <div class="input-group datetime">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input class="form-control" type="date" value="2011-08-19" >
          <span class="input-group-addon"> <i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 title">
        DATE PARTICIPANT
      </div>
      <div class="col-sm-12">
        <div class="input-group datetime">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input class="form-control" type="date" value="2011-08-19" >
          <span class="input-group-addon"> <i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 title">
        DATE INTERVENTION
      </div>
      <div class="col-sm-12">
        <div class="input-group datetime">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input class="form-control" type="date" value="2011-08-19" >
          <span class="input-group-addon"> <i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 title">
        DATE CHOIX
      </div>
      <div class="col-sm-12">
        <div class="input-group datetime">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input class="form-control" type="date" value="2011-08-19" >
          <span class="input-group-addon"> <i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 title">
       SPEED MEETINGS OPEN
      </div>
      <div class="col-sm-12">
        <div class="input-group datetime">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input class="form-control" type="date" value="2011-08-19" >
          <span class="input-group-addon"> <i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 title">
        SPEED MEETINGS CLOSE
      </div>
      <div class="col-sm-12">
        <div class="input-group datetime">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input class="form-control" type="date" value="2011-08-19" >
          <span class="input-group-addon"> <i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 title">
        SPEED MEETINGS CLOSE
      </div>
      <div class="col-sm-12">
        <div class="input-group datetime">
          <span class="input-group-addon"><i class="fa fa-map"></i></span>
          <input class="form-control" type="link" value="" >
          <span class="input-group-addon"> <i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 title">
        Background color
      </div>
      <div class="col-sm-12">
        <div class="input-group datetime">
          <span class="input-group-addon"><i class="fa fa-adjust"></i></span>
          <input class="form-control" type="color" value="#3f3844" >
          <span class="input-group-addon"> <i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </div>
    <div class="pull-left" style="margin-top: 15px;">
      <button type="button" class="btn btn-danger"> SAUVEGARDER </button>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="question" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">CRÉER UNE NOUVELLE QUESTION</h4>
      </div>
      <div class="container-fluid">
        <div class="form-group row" style="padding: 15px;">
          <div class="col-sm-12 mb15">
            <input type="text" class=" form-control" placeholder="Titre" />
          </div>
          <div class="col-sm-12 mb15">
            <textarea type="text" class="col-sm-12 form-control" placeholder="Contenu"></textarea>
          </div>
          <div class="col-sm-6">
            <select class="form-control" id="Type">
              <option>Type</option>
              <option>3</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="exportToExcel(txtExportName.value)">EXPORTER</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">ANNULER</button>
      </div>
    </div>
  </div>
</div>