.social-detail a i.fa-arrow-circle-left{
    font-size: 3em;
    display: block;
    text-decoration: none;
    float: right;
    padding-right: 15px;
}
.social-detail .avatar input{
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0!important;
    position: absolute;
    top: 0;
    width: 100%;
}
.row .submit button{
    margin: 0px 10px;
    margin-top: 10px;
}
.social-detail .profil{
    border: 2px solid #204d74;
    padding: 15px;
}

.social-detail .avatar img{
    border-radius: 50%;
    max-width: 150px;
    margin: 10px auto;
}
.add_participant h4{
    background-color: #d43f3a;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}

.container {
    display: block;
    width: 80px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.2em;
}
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
}
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
border-radius: 50%;
}
.container:hover input ~ .checkmark {
background-color: #ccc;
}
.container input:checked ~ .checkmark {
background-color: #2196F3;
}
.checkmark:after {
content: "";
position: absolute;
display: none;
}
.container input:checked ~ .checkmark:after {
display: block;
}
.container .checkmark:after {
 top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}
.cuscheck {
font-weight: 100 !important;
}
.row .submit button{
    margin: 0px 10px;
}
@media(max-width:924px){
    #dropdown-header a.dropdown-toggle.text-uppercase{
        max-width: 222px;
        text-align: right;
        margin-top: 18px; 
    }
    .avatarsociete img{
        margin: 0px auto;
        height: 150px;
    }
}
.table .avatar{
    width: 60px;
    height: 60px;
    margin: 5px auto; 
}
.table .avatar img{
    border-radius: 50%;
}
/* search user*/
#prenomContact{
    overflow:hidden;
}
#prenomContact h4{
    margin: -44px -45px 30px -44px;
    background-color: #d43f3a;
    color: #fff;
    font-weight: bold;
    padding: 13px;
}
#prenomContact i.fa-search{
    font-size: 19px;
    margin-top: 7px;
    margin-right: 7px;
    float: left;
}
.row .submit button{
    margin: 0px 10px;
}
.loader {
    position: absolute;
    border-top: 8px solid blue;
    border-right: 8px solid green;
    border-bottom: 8px solid red;
    border-left: 8px solid pink;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    top: 200px;
    left: 48%;
    z-index: 4;
  }
  .row{
      margin: 20px -15px;
  }