<div class="social-detail">
  <form (submit)="onAddContact($event)" class="add_participant" style=" width:100%;">
    <div class="row">
      <h4 class="col-sm-12" style="font-size: 27px;">Créer le contact
        <button data-fancybox-close class="btn btn-default pull-right"  (click)="Back(0)">
          <i class="fa fa-arrow-left" aria-hidden="true" style="font-size: 16px;color:#d43f3a"></i>
        </button>
      </h4>
    </div>
    <div class="row" style="margin-left: 20px;">
      <div class="col-sm-3 col-xs-12 avatar">
        <img [src]="imgSrc" class="img-responsive" alt="" (change)="changeAvatar($event)">
        <input type="file" (change)="changeAvatar($event.target.files)" />
      </div>
      <div class="col-sm-8 col-xs-12">
        <label class="container col-xs-1 cuscheck"> M.
          <input type="radio" value="1" checked='{{objContact_add.idcivilite == 1? "checked" : "" }}' name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container col-xs-1 cuscheck">Mme
          <input type="radio" value="2" name="radio" checked='{{objContact_add.idcivilite == 2? "checked" : "" }}'>
          <span class="checkmark"></span>
        </label>
        <label class="container col-xs-1 cuscheck">Mlle
          <input type="radio" value="3" name="radio" checked='{{objContact_add.idcivilite == 3 ? "checked" : ""}}'>
          <span class="checkmark"></span>
        </label>
      </div>

    </div>

    <div class="row" style="margin-top: 35px;">
      <div class="col-sm-6">
        <label for="prenom">Prénom </label>
        <div class="input-group">
          <input type="hidden" id="idContact_add" value='{{(objContact_add.idcontact!= "" || objContact_add.idcontact !=  undefined) ? objContact_add.idcontact : "" }}'>
          <input type="text" class="form-control" id="prenom_add" value="{{setPrenom}}" placeholder="Prénom" aria-describedby="prenom">
          <span class="input-group-addon">
            <a data-fancybox="" data-src="#prenomContact" data-modal="true" id="searchUser" href="javascript:void()" style="color:green; "><i class="fa fa-search"></i></a>
          </span>
        </div>
        <div class="validate_prenom" style="margin-top: 5px"></div>

      </div>
      <div class="col-sm-6">
        <label for="Famillefonction">Famille fonction</label>
        <ng-select id="sel_Famillefonction" name="Famillefonction" #Famillefonction="ngModel" [items]="lst_Famillefonction" bindLabel="typeFonction"
          bindValue="idTypeFonction" [(ngModel)]="select_Famillefonction" placeholder="Famille fonction" (change)="ChosenFonction(select_Famillefonction)"></ng-select>
        <div class="validate_sel_Famillefonction" style="margin-top: 5px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label for="Nom">Nom</label>
        <input type="text" class="form-control" id="nom_add" placeholder="Nom" value='{{(objContact_add.nomContact != "" || objContact_add.nomContact != undefined) ? objContact_add.nomContact : ""}}'>
      </div>
      <div class="col-sm-6">
        <label for="FonctionGenerique">Fonction générique</label>
        <ng-select name="FonctionGenerique" id="ng_Generique" #FonctionGenerique="ngModel" [items]="liste_FonctionGenerique" bindLabel="fonctionGenerique"
          bindValue="idListeFonction" [(ngModel)]="select_Generique" placeholder="Fonction générique" [disabled]="select_Famillefonction == undefined"></ng-select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label for="Telephone">Téléphone</label>
        <input type="text" class="form-control" id="telephone_add" placeholder="Téléphone" value='{{(objContact_add.telephoneContact != "" || objContact_add.telephoneContact != undefined )? objContact_add.telephoneContact : ""}}'>
      </div>
      <div class="col-sm-6">
        <label for="Fonctiondetail">Fonction détaillée</label>
        <input type="text" class="form-control" id="fonctionContact" placeholder="Fonction détaillée">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label for="Portable">Portable</label>
        <div class="input-group">
          <span class="input-group-addon" id="Portable1"></span>
          <input type="text" class="form-control" id="Portable_add" placeholder="Portable" aria-describedby="Portable1" value='{{(objContact_add.telephoneContact != "" || objContact_add.telephoneContact != undefined )? objContact_add.telephoneContact : ""}}'>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="EmailContact">Email </label>
        <div class="input-group">
          <span class="input-group-addon" id="emailContactadd">
            <i class="fa fa-check-circle" style='color:green' *ngIf="check_Email"></i>
            <i class="fa fa-minus-circle" style='color:red' *ngIf="!check_Email"></i>
          </span>
          <input type="text" class="form-control" id="emailContact_add" (keyup)="checkEmail(email_add.value)" #email_add
            placeholder="Email" aria-describedby="emailContactadd" value='{{(objContact_add.emailContact != "" || objContact_add.emailContact != undefined )? objContact_add.emailContact : ""}}'>
        </div>
      </div>
    </div>
    <!-- loader -->
    <div class="loader"></div>
    <div class="row" style="margin-top:10px;">
      <div class="pull-right submit">
        <button type="submit" class="btn btn-danger" id="submit">SAUVEGARDER</button>
        <button type="reset" class="btn btn-default" (click)="Back(0)">SUPPRIMER</button>
      </div>
    </div>
  </form>
</div>

<!-- From search user -->
  <form id="prenomContact" action="" method="post" style="width:45%;display: none;">
    <h4>Prénom
      <i data-fancybox-close class="fa fa-times pull-right"></i>
    </h4>
    <div class="row">
      <div class="col-sm-12">
        <i class="fa fa-search" (click)="search(searchprem.value)"></i>
        <input #searchprem type="text" class="form-control" style="width:95%" (keyup.enter)="search(searchprem.value)" placeholder="searching...">
      </div>
      <div class="col-sm-12">
      </div>
    </div>
    <div class="row" style="margin: 15px;">
      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead style="text-align: center;">
          <tr style="width:20%">
            <th by="idape2008">Prénom</th>
            <th by="idape2008">Nom</th>
          </tr>
        </thead>
        <tbody class="scrollbar">
          <div class="force-overflow"></div>
          <tr *ngFor="let item of mf.data; let i=index" (click)="ChangePrenom(item.prenomContact)" data-fancybox-close>
            <td>
              {{item.prenomContact}}
            </td>
            <td>
              {{item.nomContact}}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </form>