<div class="breadcrumbs">
  <i class="fa fa-chevron-right"></i>
  <a routerLink="/admin/{{idUserBack}}">Page d’accueil</a>
</div>
<div class="atelier">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <app-menu-item #menuItem></app-menu-item>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="row">
        <br/>
        <div class="col-xs-12 button">
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#filtre"><i class="fa fa-filter"></i>
            filtre</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exporter"><i class="fa fa-file-excel-o"></i>
            excel</button>
          <button type="button" class="btn btn-danger pull-right" routerLink="/admin/{{idUserBack}}" style="margin-right: 0px;">
            <i class="fa fa-long-arrow-left"></i>
            LA SELECTION
          </button>
        </div>
        <div class="col-xs-12 table-reponsive">
          <table class="table table-hover" id="account" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <!-- <th></th> -->
                <th class="hidden-xs">
                  <mfDefaultSorter><span style="color: #fff">Réf</span></mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="nomSociete"><span style="color: #fff">CUENTVBNDEUR</span>  </mfDefaultSorter>
                </th>
                <!-- <th class="hidden-sm hidden-xs">
                <mfDefaultSorter> WEB & CATALOGUE </mfDefaultSorter>
              </th> -->
                <th class="hidden-xs">
                  <mfDefaultSorter> <span style="color: #fff">INFORMATION</span> </mfDefaultSorter>
                </th>
                <!-- <th class="hidden-sm hidden-xs">
                <mfDefaultSorter> INTERVENTION </mfDefaultSorter>
              </th> -->
                <th class="hidden-sm hidden-xs">
                  <mfDefaultSorter> <span style="color: #fff">PARTICIPANTS</span> </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter><span style="color: #fff">ALERTE</span>  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by=""><span style="color: #fff">ACTION</span>  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by=""> <span style="color: #fff">STATUT</span> </mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data; let i=index">
                <td class="hidden-xs">{{item.idEnquete}}</td>
                <td>{{item.nomSociete}}</td>
                <!-- <td class="hidden-sm hidden-xs">100%</td> -->
                <td class="hidden-xs">3 définis</td>
                <!-- <td class="hidden-sm hidden-xs">100%</td> -->
                <td class="hidden-sm hidden-xs">{{item.isCheck_Participants == 1 ? "YES" : "NO"}}</td>
                <td>
                  <i class="fa fa-bell"></i>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="LoginSociete(item.idSociete,item.idUtilisateur)">Login</button>
                </td>
                <td>
                  <i class="fa fa-circle text-danger" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="9">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="filtre" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="font: 1.2em ;">&times;</button>
          <h4 class="modal-title">FILTRAGE DES DONNEES</h4>
        </div>
        <div class="container-fluid">
          <div class="form-group row">
            <div class="col-xs-12">
              <input type="text" #monSociete class="form-control" (keyup.enter)="filtreMonSoiciete(monSociete.value)"
                placeholder="Par de Nom">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="filtreMonSoiciete(monSociete.value)" data-dismiss="modal">FILTER</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">ANNULER</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exporter" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">EXPORTER EN CVS</h4>
        </div>
        <div class="container-fluid">
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="form-group">
                <input type="text" class="form-control" #exportName placeholder="Nom de fichier" ngModel #txtExportName="ngModel" />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-12">
                <label class="col-sm-6 container">
                  <input type="radio" checked="checked" name="radio">
                  L’ensemble des sociétés
                  <span class="checkmark"></span>
                </label>
                <label class="col-sm-6 container">
                  <input type="radio" name="radio">
                  Votre Selection
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="exportToExcel(txtExportName.value)">EXPORTER</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">ANNULER</button>
        </div>
      </div>
    </div>
  </div>