.button{
    margin-bottom: 15px;
}
.button button{
    margin-right: 10px;
}
.is-update{
    background-color: rgb(210, 215, 219) !important;
    color: rgb(116, 120, 122);
}
.content{
    width: 99%;
    margin:5px;
    padding-left: 30px;
    border-radius: 3px;
}
.content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
.content::-webkit-scrollbar-thumb {
    background-color: gray;
}

.content label{
    margin-right: 5px;
    float: left;
}

.drap{
    border: 1px solid #ccc;
    margin: 15px 0px ;
    border-radius: 3px ;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
     box-shadow: 0 10px 6px -6px #777;
    font-size: 1.1em;
}
.drap:active{
    background-color: #db322c;
    color: #fff;
}
  .list-sorted__item {
    background-color: #fff;
    cursor: -webkit-grab;
    display: block;
    position: relative;
  }
  
  .cdk-drag-placeholder {
    background: #dce2e6;
    text-indent: -9999px;
  }
  .cdk-drag-animating {
    transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  }
/* ///////////////////////////modal /////////////// */
.modal{
    margin: 5px auto;
    margin-top: 250px;
    
}
.modal .modal-dialog .modal-header{
    text-transform: uppercase;
    background-color: #d43f3a;
    color: #fff;
}
.modal .modal-dialog .container-fluid{
   margin: 10px ;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}
.container input:checked ~ .checkmark {
    background-color: #d43f3a;
    box-shadow: 1px 1px 1px 1px;
}